body { 
  font-family: 'Open Sans',Arial,sans-serif;
  background-image: url("https://i.imgur.com/5MXiJOc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 500px;
}

.container { 
  text-align: center;
}

.page-logo {
    width: 200px;
}
.page-title { 
  background-color: white;
  opacity: 0.6

}

p {
 color: white;
  background-color: black;
  
  
}

.botao{
  font-weight: bold;
  color: white;
  background-color: red;
}
