body {
  font-family: 'Open Sans',Arial,sans-serif;
  background-image: url('https://i.imgur.com/UyKMFCT.jpg');
}

.corpo {
  text-align: center;
}

.cabecalho {
  font-size: xx-large;
  color: red;
}

.cabecalho-sub {
  font-size: x-large;
  color: white;
  font-weight: bold;
}
.page-logo {
  width: 150px;
  
}
.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
